{% extends 'layout.html' %} {% load tag_tools %} {% block content %}
<ol class="breadcrumb">
	<li>{{businame}}</li>
	<li class="active">{{app_name}}</li>
	<li style="color: red;"><span id="error_xml"></span></li>
</ol>
<div class="row">
	
	<div class="col-md-6">
		<div>			
			<form class="form-horizontal" action="" method="post" id="form_xml">
			<div class="form-group">
				<label class="col-sm-1 control-label">HOST</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="inputHost" name="inputHost" value="http://ywhub01.fy.sjs.ted:12000">
				</div>
				<div class="col-sm-3">
					<select id="reqtype" name="reqtype" class="form-control" style="cursor: pointer;">
						<option value="xml" selected=""> xml </option>
						<option value="alltrans_json"> alltrans_json </option>
						<option value="json" style="display: none;"> json </option>						
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">Direction</label>
				<div class="col-sm-10">
					<select id="lan_sel" name="lan_sel" class="form-control" style="cursor: pointer;">
						<option value="en" selected=""> 英 </option>
						<option value="fr"> 法 </option>
						<option value="ru"> 俄 </option>
						<option value="ko"> 韩 </option>
						<option value="ja"> 日 </option>
						<option value="ar"> 阿拉伯语 </option>
						<option value="de"> 德语 </option>
						<option value="pt"> 葡萄牙语 </option>
						<option value="es"> 西班牙语 </option>
						<option value="hu"> 匈牙利语 </option>
						<option value="it"> 意大利语 </option>
						<option value="pl"> 波兰语 </option>
						<option value="cs"> 捷克语 </option>
						<option value="nl"> 荷兰语 </option>
						<option value="da"> 丹麦语 </option>
						<option value="fi"> 芬兰语 </option>
						<option value="tr"> 土耳其语 </option>
						<option value="sv"> 瑞典语 </option>
						<option value="et" style="display: none;"> 爱沙尼亚语 </option>
						<option value="bg"  style="display: none;"> 保加利亚语 </option>						
						<option value="bs-Latn" style="display: none;"> 波斯尼亚语 </option>
						<option value="fa" style="display: none;"> 波斯语 </option>
						<option value="mww" style="display: none;"> 白苗文 </option>																		
						<option value="tlh-Qaak" style="display: none;"> 克林贡语(piqaD) </option>
						<option value="tlh" style="display: none;"> 克林贡语 </option>
						<option value="hr" style="display: none;"> 克罗地亚语 </option>
						<option value="otq" style="display: none;"> 克雷塔罗奥托米语 </option>
						<option value="ca" style="display: none;"> 加泰隆语 </option>						
						<option value="ro" style="display: none;"> 罗马尼亚语 </option>
						<option value="lv" style="display: none;"> 拉脱维亚语 </option>
						<option value="ht" style="display: none;"> 海地克里奥尔语 </option>
						<option value="lt" style="display: none;"> 立陶宛语 </option>						
						<option value="ms" style="display: none;"> 马来语 </option>
						<option value="mt" style="display: none;"> 马耳他语 </option>						
						<option value="sl" style="display: none;"> 斯洛文尼亚语 </option>
						<option value="th" style="display: none;"> 泰语 </option>						
						<option value="sr-Latn" style="display: none;"> 塞尔维亚语(拉丁文) </option>
						<option value="sr-Cyrl" style="display: none;"> 塞尔维亚语(西里尔文) </option>
						<option value="sk" style="display: none;"> 斯洛伐克语 </option>
						<option value="sw" style="display: none;"> 斯瓦希里语 </option>
						<option value="af" style="display: none;"> 南非荷兰语 </option>
						<option value="no" style="display: none;"> 挪威语 </option>						
						<option value="uk" style="display: none;"> 乌克兰语 </option>
						<option value="ur" style="display: none;"> 乌尔都语 </option>
						<option value="el" style="display: none;"> 希腊语 </option>						
						<option value="cy" style="display: none;"> 威尔士语 </option>
						<option value="yua" style="display: none;"> 尤卡坦玛雅语 </option>
						<option value="he" style="display: none;"> 希伯来语 </option>						
						<option value="hi" style="display: none;"> 印地语 </option>
						<option value="id" style="display: none;"> 印度尼西亚语 </option>
						<option value="vi" style="display: none;"> 越南语 </option>						
						<option value="yue" style="display: none;"> 粤语(繁体) </option>
						<option value="fj" style="display: none;"> 斐济语 </option>
						<option value="FIL" style="display: none;"> 菲律宾语 </option>
						<option value="sm" style="display: none;"> 萨摩亚语 </option>
						<option value="to" style="display: none;"> 汤加语 </option>
						<option value="ty" style="display: none;"> 塔希提语 </option>
						<option value="mg" style="display: none;"> 马尔加什语 </option>
						<option value="bn" style="display: none;"> 孟加拉语 </option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-1 control-label">zh_CHS</label>
				<div class="col-sm-10">
					<label class="radio-inline">
	  			<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="tozh" checked="checked"> TO-zh
			</label>
					<label class="radio-inline">
	 	 		<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="fromzh"> FROM-zh
			</label>
				</div>
			</div>
			<div class="form-group">

				<label class="col-sm-1 control-label">Request</label>
				<div class="col-sm-10">
					<textarea class="form-control" rows="4" style="resize: none;" name="reqtext" id="reqtext"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-1 col-sm-10">
					<div class="col-sm-offset-1 col-sm-5">
						<label class="btn btn-primary btn-lg btn-block" id="request_xml">开始调试</label>
					</div>
					<div class=" col-sm-5">
						<label class="btn btn-primary btn-lg btn-block" id="save_xml">保存请求</label>
					</div>
				</div>
			</div>
		</form>
		</div>
		<div style="position:absolute; height:400px; overflow:auto">
			<table class="table table-hover" id="reqData">
				<thead>
					<tr>
						<td style="">Time</td>
						<td style="">Type</td>
						<td>Host</td>
						<td style="">
							<select id="lan_filter" name="lan_filter" class="form-control" style="cursor: pointer;height: 30px;padding: 3px 6px;">
								<option value="all" selected=""> Lang </option>
								<option value="en"> 英 </option>
								<option value="fr"> 法 </option>
								<option value="ru"> 俄 </option>
								<option value="ko"> 韩 </option>
								<option value="ja"> 日 </option>
								<option value="ar"> 阿拉伯语 </option>
								<option value="de"> 德语 </option>
								<option value="pt"> 葡萄牙语 </option>
								<option value="es"> 西班牙语 </option>
								<option value="hu"> 匈牙利语 </option>
								<option value="it"> 意大利语 </option>
								<option value="pl"> 波兰语 </option>
								<option value="cs"> 捷克语 </option>
								<option value="nl"> 荷兰语 </option>
								<option value="da"> 丹麦语 </option>
								<option value="fi"> 芬兰语 </option>
								<option value="tr"> 土耳其语 </option>
								<option value="sv"> 瑞典语 </option>
								<option value="et" style="display: none;"> 爱沙尼亚语 </option>
								<option value="bg"  style="display: none;"> 保加利亚语 </option>						
								<option value="bs-Latn" style="display: none;"> 波斯尼亚语 </option>
								<option value="fa" style="display: none;"> 波斯语 </option>
								<option value="mww" style="display: none;"> 白苗文 </option>																		
								<option value="tlh-Qaak" style="display: none;"> 克林贡语(piqaD) </option>
								<option value="tlh" style="display: none;"> 克林贡语 </option>
								<option value="hr" style="display: none;"> 克罗地亚语 </option>
								<option value="otq" style="display: none;"> 克雷塔罗奥托米语 </option>
								<option value="ca" style="display: none;"> 加泰隆语 </option>						
								<option value="ro" style="display: none;"> 罗马尼亚语 </option>
								<option value="lv" style="display: none;"> 拉脱维亚语 </option>
								<option value="ht" style="display: none;"> 海地克里奥尔语 </option>
								<option value="lt" style="display: none;"> 立陶宛语 </option>						
								<option value="ms" style="display: none;"> 马来语 </option>
								<option value="mt" style="display: none;"> 马耳他语 </option>						
								<option value="sl" style="display: none;"> 斯洛文尼亚语 </option>
								<option value="th" style="display: none;"> 泰语 </option>						
								<option value="sr-Latn" style="display: none;"> 塞尔维亚语(拉丁文) </option>
								<option value="sr-Cyrl" style="display: none;"> 塞尔维亚语(西里尔文) </option>
								<option value="sk" style="display: none;"> 斯洛伐克语 </option>
								<option value="sw" style="display: none;"> 斯瓦希里语 </option>
								<option value="af" style="display: none;"> 南非荷兰语 </option>
								<option value="no" style="display: none;"> 挪威语 </option>						
								<option value="uk" style="display: none;"> 乌克兰语 </option>
								<option value="ur" style="display: none;"> 乌尔都语 </option>
								<option value="el" style="display: none;"> 希腊语 </option>						
								<option value="cy" style="display: none;"> 威尔士语 </option>
								<option value="yua" style="display: none;"> 尤卡坦玛雅语 </option>
								<option value="he" style="display: none;"> 希伯来语 </option>						
								<option value="hi" style="display: none;"> 印地语 </option>
								<option value="id" style="display: none;"> 印度尼西亚语 </option>
								<option value="vi" style="display: none;"> 越南语 </option>						
								<option value="yue" style="display: none;"> 粤语(繁体) </option>
								<option value="fj" style="display: none;"> 斐济语 </option>
								<option value="FIL" style="display: none;"> 菲律宾语 </option>
								<option value="sm" style="display: none;"> 萨摩亚语 </option>
								<option value="to" style="display: none;"> 汤加语 </option>
								<option value="ty" style="display: none;"> 塔希提语 </option>
								<option value="mg" style="display: none;"> 马尔加什语 </option>
								<option value="bn" style="display: none;"> 孟加拉语 </option>
							</select>
						</td>
						<td>Request</td>
						<td style="">Ctrl</td>
					</tr>
				</thead>
				<tbody style="cursor: pointer;" id="reqBody">
					{% for item in req_lst %}
					<tr req_id="{{item.id}}" class="get_data" lang_type="{{item.trans_direct}}">
						<td class="tabletd" style="">{% formatTime item.c_time %}</td>
						<td style="">{{item.reqtype}}</td>
						<td class="tabletd">{% formatIp item.host_ip %}</td>
						<td class="tabletd" style="">{{item.trans_direct}}</td>
						<td class="tabletd">{{item.req_text}}</td>
						<td class="hide">{{item.isfromzh}}</td>
						<td class="tabletd" style="">
							<button class="del_line">DEL</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
			</div>
		<div id="showDiv"></div>
	</div>
	<div class="col-md-6">
		<div class="row placeholders">
        <div class="col-xs-6 col-sm-12 placeholder iftext">        	
        	<textarea class="form-control" rows="4" style="resize: none;" id="search_result" name="search_result"></textarea>
        	<h4>SogoSearch</h4>
        </div>
        <div class="col-xs-6 col-sm-12 placeholder">
        	<textarea class="form-control" rows="4" style="resize: none;" id="baidu_result" name="baidu_result"></textarea>
        	<h4>Baidu</h4>
        </div>
        <div class="col-xs-6 col-sm-12 placeholder">
        	<textarea class="form-control" rows="4" style="resize: none;" id="google_result" name="google_result"></textarea>
        	<h4>Google</h4>
        </div>
    </div>
    <div class="row placeholders">
    	<div class="col-xs-6 col-sm-12 placeholder">
        	<textarea class="form-control" rows="4" style="resize: none;" id="qq_result" name="qq_result"></textarea>
        	<h4>QQ</h4>
    	</div>
    	<div class="col-xs-6 col-sm-12 placeholder">
     		<textarea class="form-control" rows="4" style="resize: none;" id="youdao_result" name="youdao_result"></textarea>
     		<h4>Youdao</h4>
  		</div>  	
    </div>
	</div>
</div>

{% endblock %} {% block js %}
<script>
	//save
	$('#save_xml').click(function() {
		var reqtext = $('#reqtext').val()
		var inputHost = $('#inputHost').val()
		var lan_sel = $('#lan_sel').val()
		var inlineRadioOptions = $("input[name='inlineRadioOptions']:checked").val()
		var result = $('#result').val()
		var reqtpye = $('#reqtype').val()
		if(reqtext != "" && inputHost != "") {
			$.ajax({
				type: "POST",
				url: "/xml_req_save",
				async: true,
				traditional: true,
				data: {
					'inputHost': inputHost,
					'lan_sel': lan_sel,
					'inlineRadioOptions': inlineRadioOptions,
					'reqtext': reqtext,
					'result': result,
					'reqtype':reqtpye,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_xml').text('');
		} else {
			if(reqtext == '') {
				$('#error_xml').text('Request不可为空。');
			} else if(inputHost == '') {
				$('#error_xml').text('Host不可为空。');
			} else {
				$('#error_xml').text('未知错误。');
			}
		}
	})

	//request
	$('#request_xml').click(function() {
		$('#search_result').val("")
		$('#baidu_result').val("")
		$('#google_result').val("")
		$('#youdao_result').val("")
		$('#qq_result').val("")
		var reqtext = $('#reqtext').val()
		var inputHost = $('#inputHost').val()
		if(reqtext != "" && inputHost != "") {
			$.ajax({
				type: "POST",
				url: "/fy_bbk_req",
				async: true,
				traditional: true,
				data: $('#form_xml').serialize(),
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						if(obj.reqtype=='alltrans_json'){
							resultSplit=(obj.transResult).split('|||');
							result_str=""
							for(i=0;i<resultSplit.length;i++){
								result_str+=(resultSplit[i]+'\r\n')
							}
							debugInfo_str="返回信息：\r\n"+obj.debugInfo +'\r\n'+"请求串:\r\n"+obj.requestStr
						}else{
							result_str=obj.transResult						
							debugInfo_str="Debug信息：\r\n"+obj.debugInfo+'\r\n'+ "请求串:\r\n"+ obj.requestStr
						}
						$('#search_result').val(result_str)						
						$('#debugInfo').val(debugInfo_str);
						$('#error_xml').text('');
						//baidu
						var bd_result_str=obj.bd_result;
						var baidu_result="";
						if (bd_result_str.indexOf("|||")>0){
							var bd_result_split = bd_result_str.split('|||');
							for(i=0;i<bd_result_split.length;i++){
								baidu_result+=(bd_result_split[i]+'\r\n');
							}
						}else{
							baidu_result=bd_result_str;
						}
						$('#baidu_result').val(baidu_result)
						//google
						var gg_result_str=obj.gg_result;
						var google_result="";
						if (gg_result_str.indexOf("|||")>0){
							var gg_result_split = gg_result_str.split('|||');
							for(i=0;i<gg_result_split.length;i++){
								google_result+=(gg_result_split[i]+'\r\n');
							}
						}else{
							google_result=gg_result_str;
						}
						$('#google_result').val(google_result)
						
						//qq
						var qq_result_str=obj.qq_result;
						var qq_result="";
						if (qq_result_str.indexOf("|||")>0){
							var qq_result_split = qq_result_str.split('|||');
							for(i=0;i<qq_result_split.length;i++){
								qq_result+=(qq_result_split[i]+'\r\n');
							}
						}else{
							qq_result=qq_result_str;
						}
						$('#qq_result').val(qq_result)
						
						//youdao
						var yd_result_str=obj.yd_result;
						var youdao_result="";
						if (yd_result_str.indexOf("|||")>0){
							var yd_result_split = yd_result_str.split('|||');
							for(i=0;i<yd_result_split.length;i++){
								youdao_result+=(yd_result_split[i]+'\r\n');
							}
						}else{
							youdao_result=yd_result_str;
						}
						$('#youdao_result').val(youdao_result)
						
						
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_xml').text('');
		} else {
			if(reqtext == '') {
				$('#error_xml').text('Request不可为空');
			} else if(inputHost == '') {
				$('#error_xml').text('Host不可为空');
			} else {
				$('#error_xml').text('未知错误');
			}
		}
	})

	//table hover
	$(function() {
		function showBox(obj, box) {
			var timer = null;
			$(obj).on("mouseover", function(e) {
				clearTimeout(timer);
				var clientX = e.clientX;
				var clientY = e.clientY;
				var y = clientY + 20;
				var txt = $(this).text();
				timer = setTimeout(function() {
					$(box).css("left", clientX).css("top", y);
					if(txt == "") {
						$(box).hide();
					} else {
						$(box).show();
						$(box).html(txt);
					}
				}, 300);
			});
			$(obj).on("mouseout", function() {
				clearTimeout(timer);
				$(box).hide();
			});
		}
		showBox("#reqData > tbody td", "#showDiv");
	});

	//del
	$('.del_line').click(function() {
		var line_id = $(this).parent().parent().attr('req_id');
		$.ajax({
			type: "POST",
			url: "del_xml_line",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})

	//getData
	$('.get_data').dblclick(function() {
		var linelst = $(this).children();
		reqtype = $(linelst[1]).text();
		hostip = "http://"+$(linelst[2]).text();
		direction = $(linelst[3]).text();
		reqtext = $(linelst[4]).text();
		isfromzh = $(linelst[5]).text();
		console.log(isfromzh)
		$('#inputHost').val(hostip);
		$('#reqtype').val(reqtype);
		$('#lan_sel').val(direction);
		$('#reqtext').val(reqtext);
		if(isfromzh == 'fromzh') {
			$('#inlineRadio2').prop("checked",true);
			$('#inlineRadio1').removeAttr("checked");
		} else {
			$('#inlineRadio2').removeAttr("checked");
			$('#inlineRadio1').prop("checked",true);			
		}
		$('#debugInfo').val('');
	})

	$('#lan_filter').change(function() {
		var sel_lang = $(this).val();
		if(sel_lang == 'all') {
			$('#reqBody').children().each(function() {
				$(this).removeClass('hide');
			})
		} else {
			$('#reqBody').children().each(function() {
				var line_lang = $(this).attr('lang_type');
				if(sel_lang != line_lang) {
					$(this).addClass('hide');
				} else {
					$(this).removeClass('hide');
				}
			})

		}
	})
</script>
{% endblock %}
