
{% extends 'layout.html' %}{% load static %} {% load tag_tools %} {% block content %}
<ol class="breadcrumb">
	<li>{{businame}}</li>
	<li class="active">{{app_name}}</li>
	<li style="color: red;"><span id="error_xml"></span></li>
</ol>
<div class="row">	
	<div class="col-md-4">
		<div>			
			<form class="form-horizontal" action="" method="post" id="form_monitor">			
				<div class="form-group">
					<label class="col-sm-1 control-label">HOST</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="monitorip" placeholder="ip" >
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="monitoruser" placeholder="user" >
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="monitorpassw" placeholder="passwd" >
					</div>
					<div class=" col-sm-2">
							<label class="btn btn-default" id="add_host">添加</label>
					</div>
				</div>
			</form>
			<div class="form-group">
				<table class="table table-hover" id="reqData">
				<thead>
					<tr>
						<td style="">IP</td>
						<td style="">user</td>
						<td>password</td>
						<td style="">Ctrl</td>
					</tr>
				</thead>
				<tbody style="cursor: pointer;" id="reqBody">
					{% for item in host_list %}
					<tr host_id="{{item.id}}" class="get_host">
						<td class="tabletd" style="">{{item.ip}}</td>
						<td class="tabletd" style="">{{item.user}}</td>
						<td class="tabletd" style="">{{item.passw}}</td>
						<td class="tabletd" style="">
							{% ifequal item.status 0 %}
							<button class="startMonitor" style="color: green;">START</button>							
							{% endifequal%}
							{% ifequal item.status 1 %}
							<button class="startMonitor" style="color: red;">STOP</button>							
							{% endifequal%}
							<button class="del_line">DEL</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
			</div>
		</div>	
		{% if gpu_info %}
		<div style="position:absolute; height:400px; overflow:auto">
			<table class="table table-hover" id="reqData">
				<thead>
					<tr>
						<td style="">Time</td>
						<td style="">Type</td>
						<td>Host</td>
						<td style="">
							<select id="lan_filter" name="lan_filter" class="form-control" style="cursor: pointer;height: 30px;padding: 3px 6px;">
							</select>
						</td>
						<td>Request</td>
						<td style="">Ctrl</td>
					</tr>
				</thead>
				<tbody style="cursor: pointer;" id="reqBody">
					{% for item in req_lst %}
					<tr req_id="{{item.id}}" class="get_data" lang_type="{{item.trans_direct}}">
						<td class="tabletd" style="">{% formatTime item.c_time %}</td>
						<td style="">{{item.reqtype}}</td>
						<td class="tabletd">{% formatIp item.host_ip %}</td>
						<td class="tabletd" style="">{{item.trans_direct}}</td>
						<td class="tabletd">{{item.req_text}}</td>
						<td class="hide">{{item.isfromzh}}</td>
						<td class="tabletd" style="">
							<button class="del_line">DEL</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
		{% endif %}	
		<div id="showDiv"></div>
	</div>
	<div class="col-md-8">
        <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
        <div id="container2" style="width: 100%; height: 400px; margin: 0 auto"></div>
	</div>
</div>

{% endblock %} {% block js %}
<script src="{% static "js/highcharts.js" %}"></script>
{% if gpu_info %}
<script>
$(document).ready(function() {  
   var chart = {
      type: 'spline'      
   }; 
   var title = {
      text: 'GPU 内存使用量折线图'   
   };
   var subtitle = {
      text: ''
   };
   var xAxis = {
      type: 'datetime',
      dateTimeLabelFormats: { // don't display the dummy year
         month: '%e. %b',
         year: '%b'
      },
      title: {
         text: 'Date'
      }
   };
   var yAxis = {
      title: {
         text: 'GPU Men Used (m)'
      },
      min: 0
   };
   var tooltip = {
      headerFormat: '<b>{series.name}</b><br>',
      pointFormat: '{point.x:%e. %b}: {point.y:.2f} M'
   };
   var plotOptions = {
      spline: {
         marker: {
            enabled: true
         }
      }
   };
   var series= [{
         name: 'GPU Mem Used',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
         data: [
        {% for item in gpu_info %}
			{{ item.gpumem }}
		{% endfor %}
             
         ]
     }
   ];     
      
   var json = {};
   json.chart = chart;
   json.title = title;
   json.subtitle = subtitle;
   json.tooltip = tooltip;
   json.xAxis = xAxis;
   json.yAxis = yAxis;  
   json.series = series;
   json.plotOptions = plotOptions;
   $('#container').highcharts(json);
   
   
   var chart2 = {
      type: 'spline'      
   }; 
   var title2 = {
      text: 'GPU 内存使用率折线图'   
   };
   var subtitle2 = {
      text: ''
   };
   var xAxis2 = {
      type: 'datetime',
      dateTimeLabelFormats: { // don't display the dummy year
         month: '%e. %b',
         year: '%b'
      },
      title: {
         text: 'Date'
      }
   };
   var yAxis2 = {
      title: {
         text: 'GPU Men Used (m)'
      },
      min: 0
   };
   var tooltip2 = {
      headerFormat: '<b>{series.name}</b><br>',
      pointFormat: '{point.x:%e. %b}: {point.y:.2f} M'
   };
   var plotOptions2 = {
      spline: {
         marker: {
            enabled: true
         }
      }
   };
   var series2= [{
         name: 'GPU Mem Used',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
         data: [
         	 {% for item in gpu_info %}
			{{ item.gpumemused }}
			{% endfor %}
       
         ]
     }
   ];
   
   
   var json2 = {};
   json2.chart = chart2;
   json2.title = title2;
   json2.subtitle = subtitle2;
   json2.tooltip = tooltip2;
   json2.xAxis = xAxis2;
   json2.yAxis = yAxis2;  
   json2.series = series2;
   json2.plotOptions = plotOptions2;
   $('#container2').highcharts(json2);
  
});
</script>
{% endif %}
<script>
	//add_host
	$('#add_host').click(function() {
		var monitorip = $("#monitorip").val()
		var monitoruser = $("#monitoruser").val()
		var monitorpassw = $("#monitorpassw").val()
		if(monitorip != "" && monitoruser != "" && monitorpassw!="") {
			$.ajax({
				type: "POST",
				url: "/monitor_host_add",
				async: true,
				traditional: true,
				data: {
					'monitorip': monitorip,
					'monitoruser': monitoruser,
					'monitorpassw': monitorpassw,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_xml').text('');
		} else {
			if(monitorip == '') {
				$('#error_xml').text('ip不可为空。');
			} else if(monitoruser == '') {
				$('#error_xml').text('用户名不可为空。');
			} else if(monitorpassw==''){
				$('#error_xml').text('密码不可为空。');
			}else {
				$('#error_xml').text('未知错误。');
			}
		}
	})

	//request
	$('#request_xml').click(function() {
		$('#search_result').val("")
		$('#baidu_result').val("")
		$('#google_result').val("")
		$('#youdao_result').val("")
		$('#qq_result').val("")
		var reqtext = $('#reqtext').val()
		var inputHost = $('#inputHost').val()
		if(reqtext != "" && inputHost != "") {
			$.ajax({
				type: "POST",
				url: "/fy_bbk_req",
				async: true,
				traditional: true,
				data: $('#form_xml').serialize(),
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						if(obj.reqtype=='alltrans_json'){
							resultSplit=(obj.transResult).split('|||');
							result_str=""
							for(i=0;i<resultSplit.length;i++){
								result_str+=(resultSplit[i]+'\r\n')
							}
							debugInfo_str="返回信息：\r\n"+obj.debugInfo +'\r\n'+"请求串:\r\n"+obj.requestStr
						}else{
							result_str=obj.transResult						
							debugInfo_str="Debug信息：\r\n"+obj.debugInfo+'\r\n'+ "请求串:\r\n"+ obj.requestStr
						}
						$('#search_result').val(result_str)						
						$('#debugInfo').val(debugInfo_str);
						$('#error_xml').text('');
						//baidu
						var bd_result_str=obj.bd_result;
						var baidu_result="";
						if (bd_result_str.indexOf("|||")>0){
							var bd_result_split = bd_result_str.split('|||');
							for(i=0;i<bd_result_split.length;i++){
								baidu_result+=(bd_result_split[i]+'\r\n');
							}
						}else{
							baidu_result=bd_result_str;
						}
						$('#baidu_result').val(baidu_result)
						//google
						var gg_result_str=obj.gg_result;
						var google_result="";
						if (gg_result_str.indexOf("|||")>0){
							var gg_result_split = gg_result_str.split('|||');
							for(i=0;i<gg_result_split.length;i++){
								google_result+=(gg_result_split[i]+'\r\n');
							}
						}else{
							google_result=gg_result_str;
						}
						$('#google_result').val(google_result)
						
						//qq
						var qq_result_str=obj.qq_result;
						var qq_result="";
						if (qq_result_str.indexOf("|||")>0){
							var qq_result_split = qq_result_str.split('|||');
							for(i=0;i<qq_result_split.length;i++){
								qq_result+=(qq_result_split[i]+'\r\n');
							}
						}else{
							qq_result=qq_result_str;
						}
						$('#qq_result').val(qq_result)
						
						//youdao
						var yd_result_str=obj.yd_result;
						var youdao_result="";
						if (yd_result_str.indexOf("|||")>0){
							var yd_result_split = yd_result_str.split('|||');
							for(i=0;i<yd_result_split.length;i++){
								youdao_result+=(yd_result_split[i]+'\r\n');
							}
						}else{
							youdao_result=yd_result_str;
						}
						$('#youdao_result').val(youdao_result)
						
						
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_xml').text('');
		} else {
			if(reqtext == '') {
				$('#error_xml').text('Request不可为空');
			} else if(inputHost == '') {
				$('#error_xml').text('Host不可为空');
			} else {
				$('#error_xml').text('未知错误');
			}
		}
	})

	//table hover
	$(function() {
		function showBox(obj, box) {
			var timer = null;
			$(obj).on("mouseover", function(e) {
				clearTimeout(timer);
				var clientX = e.clientX;
				var clientY = e.clientY;
				var y = clientY + 20;
				var txt = $(this).text();
				timer = setTimeout(function() {
					$(box).css("left", clientX).css("top", y);
					if(txt == "") {
						$(box).hide();
					} else {
						$(box).show();
						$(box).html(txt);
					}
				}, 300);
			});
			$(obj).on("mouseout", function() {
				clearTimeout(timer);
				$(box).hide();
			});
		}
		showBox("#reqData > tbody td", "#showDiv");
	});

//start Monitor
	$('.startMonitor').click(function() {
		var line_id = $(this).parent().parent().attr('host_id');
		$.ajax({
			type: "POST",
			url: "start_monitor_ip",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})


	//del
	$('.del_line').click(function() {
		var line_id = $(this).parent().parent().attr('host_id');
		$.ajax({
			type: "POST",
			url: "del_host_ip",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})

	//getData
	$('.get_data').dblclick(function() {
		var linelst = $(this).children();
		reqtype = $(linelst[1]).text();
		hostip = "http://"+$(linelst[2]).text();
		direction = $(linelst[3]).text();
		reqtext = $(linelst[4]).text();
		isfromzh = $(linelst[5]).text();
		console.log(isfromzh)
		$('#inputHost').val(hostip);
		$('#reqtype').val(reqtype);
		$('#lan_sel').val(direction);
		$('#reqtext').val(reqtext);
		if(isfromzh == 'fromzh') {
			$('#inlineRadio2').prop("checked",true);
			$('#inlineRadio1').removeAttr("checked");
		} else {
			$('#inlineRadio2').removeAttr("checked");
			$('#inlineRadio1').prop("checked",true);			
		}
		$('#debugInfo').val('');
	})

	$('#lan_filter').change(function() {
		var sel_lang = $(this).val();
		if(sel_lang == 'all') {
			$('#reqBody').children().each(function() {
				$(this).removeClass('hide');
			})
		} else {
			$('#reqBody').children().each(function() {
				var line_lang = $(this).attr('lang_type');
				if(sel_lang != line_lang) {
					$(this).addClass('hide');
				} else {
					$(this).removeClass('hide');
				}
			})

		}
	})
</script>
{% endblock %}
