
{% extends 'layout.html' %}{% load static %} {% load tag_tools %} {% block content %}
<ol class="breadcrumb">
	<li>{{businame}}</li>
	<li class="active">{{app_name}}</li>
	<li style="color: red;"><span id="error_xml"></span></li>
</ol>
<div class="row">	
	<div class="col-md-4">
		<div>			
			<form class="form-horizontal" action="" method="post" id="form_monitor">			
				<div class="form-group">
				<label class="col-sm-2 control-label">IPaddress</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="monitorip" placeholder="ip" >
				</div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label">Username</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="monitoruser" placeholder="username" >
				</div>
				</div>
				<div class="form-group">
				<label class="col-sm-2 control-label">Password</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="monitorpassw" placeholder="password" >
				</div>
				</div>
				<div class="form-group">
				<div class=" col-sm-3">
					<label class="btn btn-default" id="add_host">添加</label>
				</div>
				</div>
				
			</form>
			<div class="form-group">
				<table class="table table-hover" id="reqData">
				<thead>
					<tr>
						<td style="width: 100px;">IP</td>
						<td style="width: 50px;">user</td>
						<td>password</td>
						<td style="">Ctrl</td>
					</tr>
				</thead>
				<tbody style="cursor: pointer;">
					{% for item in host_list %}
					<tr host_id="{{item.id}}" class="get_host">
						<td class="tabletd" style="">{{item.ip}}</td>
						<td class="tabletd" >{{item.user}}</td>
						<td class="tabletd" >{{item.passw}}</td>
						<td class="tabletd" style="">
							{% ifequal item.status 0 %}
							<button class="startMonitor" style="color: green;">START</button>
							<button class="del_line">DEL</button>
							{% endifequal%}
							{% ifequal item.status 1 %}
							<button class="stopMonitor" style="color: red;">STOP&nbsp;&nbsp;</button>								
							{% endifequal%}							
						</td>
					</tr>
					{% endfor %}
				</tbody>

			</table>
			</div>
		</div>				
		<div id="showDiv"></div>
	</div>
	<div class="col-md-8">
		<div>
			<table class="table table-hover" id="reqData">
				<thead>
					<tr>
						<td style="width: 40px;">ID</td>
						<td style="">StartTime</td>
						<td>EndTime</td>
						<td style="">IP</td>
						<td>User</td>
						<td style="width: 100px;">Stauts</td>
						<td style="width: 80px;">Ctrl</td>
					</tr>
				</thead>
				<tbody style="cursor: pointer;" id="reqBody">
					{% for item in gpu_info %}
					<tr req_id="{{item.id}}">
						<td class="tabletd" style="">{{item.id}}</td>
						<td class="tabletd" style="">{{item.create_time}}</td>
						<td class="tabletd">{{item.end_time}}</td>
						<td class="tabletd" style="">{{item.monitorip}}</td>
						<td class="tabletd">{{item.user}}</td>
						{% ifequal item.status 0 %}
						<td class="tabletd" style="color: red;">Stopped</td>
						<td class="tabletd">
							<button class="del_one_monitor">DEL</button>
						</td>
						{% endifequal%}
						{% ifequal item.status 1 %}
						<td class="tabletd" style="color: green;">Running</td>
						<td class="tabletd">							
						</td>
						{% endifequal%}
					</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
	</div>
</div>

{% endblock %} {% block js %}

<script>
	//add_host
	$('#add_host').click(function() {
		var monitorip = $("#monitorip").val()
		var monitoruser = $("#monitoruser").val()
		var monitorpassw = $("#monitorpassw").val()
		if(monitorip != "" && monitoruser != "" && monitorpassw!="") {
			$.ajax({
				type: "POST",
				url: "/monitor_host_add",
				async: true,
				traditional: true,
				data: {
					'monitorip': monitorip,
					'monitoruser': monitoruser,
					'monitorpassw': monitorpassw,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_xml').text('');
		} else {
			if(monitorip == '') {
				$('#error_xml').text('ip不可为空。');
			} else if(monitoruser == '') {
				$('#error_xml').text('用户名不可为空。');
			} else if(monitorpassw==''){
				$('#error_xml').text('密码不可为空。');
			}else {
				$('#error_xml').text('未知错误。');
			}
		}
	})

	//request
	$('#request_xml').click(function() {
		$('#search_result').val("")
		$('#baidu_result').val("")
		$('#google_result').val("")
		$('#youdao_result').val("")
		$('#qq_result').val("")
		var reqtext = $('#reqtext').val()
		var inputHost = $('#inputHost').val()
		if(reqtext != "" && inputHost != "") {
			$.ajax({
				type: "POST",
				url: "/fy_bbk_req",
				async: true,
				traditional: true,
				data: $('#form_xml').serialize(),
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						if(obj.reqtype=='alltrans_json'){
							resultSplit=(obj.transResult).split('|||');
							result_str=""
							for(i=0;i<resultSplit.length;i++){
								result_str+=(resultSplit[i]+'\r\n')
							}
							debugInfo_str="返回信息：\r\n"+obj.debugInfo +'\r\n'+"请求串:\r\n"+obj.requestStr
						}else{
							result_str=obj.transResult						
							debugInfo_str="Debug信息：\r\n"+obj.debugInfo+'\r\n'+ "请求串:\r\n"+ obj.requestStr
						}
						$('#search_result').val(result_str)						
						$('#debugInfo').val(debugInfo_str);
						$('#error_xml').text('');
						//baidu
						var bd_result_str=obj.bd_result;
						var baidu_result="";
						if (bd_result_str.indexOf("|||")>0){
							var bd_result_split = bd_result_str.split('|||');
							for(i=0;i<bd_result_split.length;i++){
								baidu_result+=(bd_result_split[i]+'\r\n');
							}
						}else{
							baidu_result=bd_result_str;
						}
						$('#baidu_result').val(baidu_result)
						//google
						var gg_result_str=obj.gg_result;
						var google_result="";
						if (gg_result_str.indexOf("|||")>0){
							var gg_result_split = gg_result_str.split('|||');
							for(i=0;i<gg_result_split.length;i++){
								google_result+=(gg_result_split[i]+'\r\n');
							}
						}else{
							google_result=gg_result_str;
						}
						$('#google_result').val(google_result)
						
						//qq
						var qq_result_str=obj.qq_result;
						var qq_result="";
						if (qq_result_str.indexOf("|||")>0){
							var qq_result_split = qq_result_str.split('|||');
							for(i=0;i<qq_result_split.length;i++){
								qq_result+=(qq_result_split[i]+'\r\n');
							}
						}else{
							qq_result=qq_result_str;
						}
						$('#qq_result').val(qq_result)
						
						//youdao
						var yd_result_str=obj.yd_result;
						var youdao_result="";
						if (yd_result_str.indexOf("|||")>0){
							var yd_result_split = yd_result_str.split('|||');
							for(i=0;i<yd_result_split.length;i++){
								youdao_result+=(yd_result_split[i]+'\r\n');
							}
						}else{
							youdao_result=yd_result_str;
						}
						$('#youdao_result').val(youdao_result)
						
						
					} else {
						$('#error_xml').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_xml').text('');
		} else {
			if(reqtext == '') {
				$('#error_xml').text('Request不可为空');
			} else if(inputHost == '') {
				$('#error_xml').text('Host不可为空');
			} else {
				$('#error_xml').text('未知错误');
			}
		}
	})

	//table hover
	$(function() {
		function showBox(obj, box) {
			var timer = null;
			$(obj).on("mouseover", function(e) {
				clearTimeout(timer);
				var clientX = e.clientX;
				var clientY = e.clientY;
				var y = clientY + 20;
				var txt = $(this).text();
				timer = setTimeout(function() {
					$(box).css("left", clientX).css("top", y);
					if(txt == "") {
						$(box).hide();
					} else {
						$(box).show();
						$(box).html(txt);
					}
				}, 300);
			});
			$(obj).on("mouseout", function() {
				clearTimeout(timer);
				$(box).hide();
			});
		}
		showBox("#reqData > tbody td", "#showDiv");
	});

	//del one monitor
	$('.del_one_monitor').click(function() {
		var monitor_id = $(this).parent().parent().attr('req_id');
		$.ajax({
			type: "POST",
			url: "del_one_monitor",
			async: true,
			data: {
				'monitor_id': monitor_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})
	
	//start Monitor
	$('.startMonitor').click(function() {
		var line_id = $(this).parent().parent().attr('host_id');
		$.ajax({
			type: "POST",
			url: "start_monitor_ip",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})
	
	//stop Monitor
	$('.stopMonitor').click(function() {
		var line_id = $(this).parent().parent().attr('host_id');
		$.ajax({
			type: "POST",
			url: "stop_monitor",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})


	//del
	$('.del_line').click(function() {
		var line_id = $(this).parent().parent().attr('host_id');
		$.ajax({
			type: "POST",
			url: "del_host_ip",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})

	//getData
	$('.get_data').dblclick(function() {
		var linelst = $(this).children();
		reqtype = $(linelst[1]).text();
		hostip = "http://"+$(linelst[2]).text();
		direction = $(linelst[3]).text();
		reqtext = $(linelst[4]).text();
		isfromzh = $(linelst[5]).text();
		console.log(isfromzh)
		$('#inputHost').val(hostip);
		$('#reqtype').val(reqtype);
		$('#lan_sel').val(direction);
		$('#reqtext').val(reqtext);
		if(isfromzh == 'fromzh') {
			$('#inlineRadio2').prop("checked",true);
			$('#inlineRadio1').removeAttr("checked");
		} else {
			$('#inlineRadio2').removeAttr("checked");
			$('#inlineRadio1').prop("checked",true);			
		}
		$('#debugInfo').val('');
	})

</script>
{% endblock %}
