{% extends 'layout.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li>{{ businame }}</li>
        <li class="active">{{ app_name }}</li>
        <li style="color: red;"><span id="error_xml"></span></li>
    </ol>
    <div class="row">
        <div class="col-md-4">
            <form class="form-horizontal" action="" method="post" id="form_xml">
                <div class="form-group">
                    <label class="col-sm-2 control-label ">single:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputHost" name="inputHost"
                               value="http://webqw01.web.djt.ted:8019/request">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="col-sm-3 form-control" id="inputExpId" name="inputExpId"
                               placeholder="ExpId">
                    </div>
                    <div>&nbsp;</div>
                    <label class="col-sm-2 control-label">diff :&nbsp;&nbsp; </label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="inputHost_diff" name="inputHost_diff"
                               value="http://webqw01.web.djt.ted:8019/request">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" class="col-sm-3 form-control" id="inputExpId_diff" name="inputExpId_diff"
                               placeholder="ExpId">
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-12">
                        <textarea class="form-control" rows="2" style="resize: none;" name="reqtext"
                                  id="reqtext" placeholder="queryString"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label class="btn btn-primary btn-lg btn-block" id="request_xml">开始调试</label>
                        </div>
                        <div class=" col-sm-4">
                            <label class="btn btn-primary btn-lg btn-block" id="save_xml">保存请求</label>
                        </div>
                        <div class=" col-sm-4">
                            <label class="btn btn-primary btn-lg btn-block" id="request_xml_diff">diff</label>
                        </div>
                    </div>
                </div>
            </form>
            <div style="position:absolute; height:700px; overflow:auto">
                <table class="table table-hover" id="reqData">
                    <thead>
                    <tr>
                        <td style="">时间</td>
                        <td>Host</td>
                        <td>ExpId</td>
                        <td>请求</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody style="cursor: pointer;" id="reqBody">
                    {% for item in req_lst %}
                        <tr req_id="{{ item.id }}" class="get_data">
                            <td class="tabletd" style="">{{ item.c_time | date:"Y/m/d H:i" }}</td>
                            <td class="tabletd">{{ item.host_ip }}</td>
                            <td class="tabletd">{{ item.exp_id }}</td>
                            <td class="tabletd">{{ item.req_text }}</td>
                            <td class="tabletd">
                                <button class="del_line">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div id="showDiv"></div>
        </div>
        <div class="col-md-8">
            <div id="result" style="width: 100%"></div>

        </div>
    </div>

{% endblock %}
{% block js %}
    <script>
        //save
        $('#save_xml').click(function () {
            var inputHost = $('#inputHost').val()
            var inputExpId = $('#inputExpId').val()
            var reqtext = $('#reqtext').val()

            if (reqtext != "" && inputHost != "") {
                $.ajax({
                    type: "POST",
                    url: "/qw_req_save",
                    async: true,
                    traditional: true,
                    data: {
                        'inputHost': inputHost,
                        'inputExpId': inputExpId,
                        'reqtext': reqtext,
                    },
                    dataType: 'JSON',
                    success: function (obj) {
                        if (obj.status) {
                            location.reload();
                        } else {
                            $('#error_xml').text(obj.error);
                        }
                    },
                    error: function () {

                    },
                });
                $('#error_xml').text('');
            } else {
                if (reqtext == '') {
                    $('#error_xml').text('Request不可为空。');
                } else if (inputHost == '') {
                    $('#error_xml').text('Host不可为空。');
                } else {
                    $('#error_xml').text('未知错误。');
                }
            }
        })

        //request
        $('#request_xml').click(function () {
            var reqtext = $('#reqtext').val()
            var inputHost = $('#inputHost').val()
            if (reqtext != "" && inputHost != "") {
                $.ajax({
                    type: "POST",
                    url: "/qw_req_info",
                    async: true,
                    traditional: true,
                    data: {
                        'inputHost': inputHost,
                        'inputExpId': inputExpId,
                        'reqtext': reqtext,
                    },
                    //data: $('#form_xml').serialize(),
                    dataType: 'JSON',
                    success: function (ret) {
                        if (ret.status) {
                            $('#result').css({
                                'border-style': 'solid',
                                'height': 'auto',
                                'border-color': 'grey',
                                'border-width': '0.5px'
                            })
                            $('#result').text(ret.data)
                        } else {
                            $('#error_xml').text(ret.error)

                        }

                    },
                    error: function () {

                    },
                });
                $('#error_xml').text('');
            } else {
                if (reqtext == '') {
                    $('#error_xml').text('Request不可为空');
                } else if (inputHost == '') {
                    $('#error_xml').text('Host不可为空');
                } else {
                    $('#error_xml').text('未知错误');
                }
            }
        })

        //diff
        $('#request_xml_diff').click(function () {
            var reqtext = $('#reqtext').val()
            var inputHost = $('#inputHost').val()
            var inputExpId = $('#inputExpId').val()

            var inputHost_diff = $('#inputHost_diff').val()
            var inputExpId_diff = $('#inputExpId_diff').val()

            if (reqtext != "" && inputHost != "" && inputHost_diff != "") {
                $.ajax({
                    type: "POST",
                    url: "/qw_diff",
                    async: true,
                    traditional: true,
                    data: {
                        'inputHost': inputHost,
                        'inputExpId': inputExpId,
                        'reqtext': reqtext,
                        'inputHost_diff': inputHost_diff,
                        'inputExpId_diff': inputExpId_diff,
                    },
                    dataType: 'JSON',
                    success: function (ret) {
                        if (ret.status) {
                            {#                            $('#result_diff').val(ret.data)#}
                            $('#result').html(ret.data)
                        } else {
                            $('#error_xml').text(ret.error)
                        }
                    },
                    error: function () {
                    },
                });
                $('#error_xml').text('');
            } else {
                if (reqtext == '') {
                    $('#error_xml').text('Request不可为空');
                } else if (inputHost == '') {
                    $('#error_xml').text('Host不可为空');
                } else {
                    $('#error_xml').text('未知错误');
                }
            }
        })

        //table hover
        $(function () {
            function showBox(obj, box) {
                var timer = null;
                $(obj).on("mouseover", function (e) {
                    clearTimeout(timer);
                    var clientX = e.clientX;
                    var clientY = e.clientY;
                    var y = clientY + 20;
                    var txt = $(this).text();
                    timer = setTimeout(function () {
                        $(box).css("left", clientX).css("top", y);
                        if (txt == "") {
                            $(box).hide();
                        } else {
                            $(box).show();
                            $(box).html(txt);
                        }
                    }, 300);
                });
                $(obj).on("mouseout", function () {
                    clearTimeout(timer);
                    $(box).hide();
                });
            }

            showBox("#reqData > tbody td", "#showDiv");
        });

        //del
        $('.del_line').click(function () {
            var line_id = $(this).parent().parent().attr('req_id');
            $.ajax({
                type: "POST",
                url: "qw_req_del",
                async: true,
                data: {
                    'line_id': line_id
                },
                dataType: 'JSON',
                success: function (obj) {
                    if (obj.status) {
                        location.reload();
                    } else {
                        $('#error_xml').text(obj.error);
                    }
                },
                error: function () {

                }
            });

        })

        //getData
        $('.get_data').dblclick(function () {
            var linelst = $(this).children();
            hostip = $(linelst[1]).text();
            expid = $(linelst[2]).text();
            reqtext = $(linelst[3]).text();
            $('#inputHost').val(hostip);
            $('#inputExpId').val(expid);
            $('#reqtext').val(reqtext);
        })

    </script>
{% endblock %}
