{% extends 'layout.html' %} {% load tag_tools %} {% block content %}
<ol class="breadcrumb">
	<li>{{businame}}</li>
	<li class="active">{{app_name}}</li>
	<li style="color: red;"><span id="error_xml"></span></li>
</ol>
<div class="row">
	<div class="col-md-5">
		<div style="position:absolute; height:700px; overflow:auto">
			<div class="form-group">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addmenu">功能添加</button>
			</div>
			<div class="form-group">
				<div class="alert alert-info" role="alert">点击名称修改 点击X删除</div>
			</div>
			<div class="form-group">
				{% for item in business_lst %}
				<h3 style="display: inline" bid='{{item.id}}'>
					<span class="label label-info" style="display: inline-block;cursor: pointer;">
						<a class="edit-busi" style="text-decoration: none;color: white;">{{item.businame}}</a>&nbsp;&nbsp;
						<a class="delete_busi"style="color: red;cursor: pointer;" >&times;</a>
					</span>
				</h3> {% endfor %}
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addapp">菜单添加</button>
			</div>

			<div class="form-group">
				<div class="alert alert-success" role="alert">点击名称修改 点击X删除</div>
			</div>
			<div class="form-group">
				<table class="table" id="reqData">
					<thead>
						<tr>
							<td style="width: 150px;">功能模块</td>
							<td>菜单列表</td>
						</tr>
					</thead>
					<tbody id="reqBody">
						{% for item in business_lst %}
						<tr req_id="" class="" lang_type="">
							<td style="width: 150px;">{{item.businame}}</td>
							<td b_id={{item.id}}>
								{% for app in app_lst %} {% ifequal app.busi_id item.id %}
								<h4 style="display: inline; cursor: pointer;" appid="{{app.id}}" urlname="{{app.urlname}}">
									<span class="label label-success" style="display: inline-block;cursor: pointer;">
										<a class="edit-app" style="text-decoration: none;color: white;">{{app.appname}}</a>&nbsp;&nbsp;
										<a class="delete_app"style="color: red;cursor: pointer;" >&times;</a>
									</span>
								</h4> {% endifequal %} {% endfor %}
							</td>
						</tr>
						{% endfor %}
					</tbody>

				</table>
			</div>

		</div>
		<div id="showDiv"></div>
	</div>
	<div class="col-md-7" style="height:700px; overflow:auto">
		<div class="form-group">
			<button type="button" class="btn btn-warning">权限管理</button>
		</div>
		<div class="form-group">
			<div class="alert alert-warning" role="alert">点击名称修改 点击X删除</div>
		</div>
		<div class="form-group">
			<table class="table" id="reqData">
				<thead>
					<tr>
						<td style="width: 150px;">用户名</td>
						<td>用户菜单权限</td>
						<td style="width: 100px;">操作</td>
					</tr>
				</thead>
				<tbody id="reqBody">
					{% for item in user_lst %}
					<tr req_id="" class="" lang_type="">
						<td style="width: 150px;">{{item.user_name}}</td>
						<td b_id={{item.id}}>
							{% for app in utoapp %} {% ifequal item.user_name app.user_name_id %}
							<h4 style="display: inline;" app_id="{{app.app_id.id}}" user_app_id="{{app.id}}">
									<span class="label label-warning" style="display: inline-block;">
										<a style="text-decoration: none;color: white;">{{app.app_id.appname}}</a>&nbsp;&nbsp;
										<a class="delete_user_app"style="color: red;cursor: pointer;" >&times;</a>										
									</span>
							</h4> {% endifequal %} {% endfor %}
						</td>
						<td style="width: 100px;"><button class="edituserapp">编辑</button></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="addmenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">功能添加</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">功能名称:<span id="error_info" style="color: red;" ></span></label>
						<input type="text" class="form-control" id="business-name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" id="add_business" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="editmenu hide" id="editmenu">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"><span class="cancaledit">&times;</span></button>
				<h4 class="modal-title">名称修改</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input type="text" name="bid" id="busi_id" style="display: none;" />
						<label class="control-label">功能名称:<span id="error_info" style="color: red;" ></span></label>
						<input type="text" class="form-control" name="busi_name" id="busi_name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="cancaledit btn btn-default">取消</button>
				<button type="button" class="btn btn-primary" id="edit_business">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addapp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">菜单添加<span id="app_error_info" style="color: red;" ></h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">功能名称:<span  style="color: red;" ></span></label>
						<select id="busi_sel" name="busi_sel" class="form-control" style="cursor: pointer;">
							{% for item in business_lst %}
							<option value="{{item.id}}"> {{item.businame}} </option>
							{% endfor %}
						</select>
						<label for="recipient-name" class="control-label">菜单名称:</label>
						<input type="text" class="form-control" id="app-name">
						<label for="recipient-name" class="control-label">URL名称:</span></label>
						<input type="text" class="form-control" id="url-name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" id="add_app" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

<div class="editapp hide" id="editapp">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"><span class="cancaledit">&times;</span></button>
				<h4 class="modal-title">名称修改<span id="error_info_edit" style="color: red;" ></span></h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<input type="text" name="aid" id="aid" style="display: none;" />
						<select name="b_id" id="b_id" class="form-control" style="cursor: pointer;">
							{% for item in business_lst %}
							<option value="{{item.id}}"> {{item.businame}} </option>
							{% endfor %}
						</select>
						<label class="control-label">菜单名称:</label>
						<input type="text" class="form-control" name="a_name" id="a_name">
						<label for="recipient-name" class="control-label">URL名称:</span></label>
						<input type="text" class="form-control" id="a-url-name" name="a-url-name">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="cancaledit btn btn-default">取消</button>
				<button type="button" class="btn btn-primary" id="edit_app">保存</button>
			</div>
		</div>
	</div>
</div>


<div class="edituser hide" id="edituserapp">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"><span class="cancal_user">&times;</span></button>
				<h4 class="modal-title">菜单添加<span id="error_user_app" style="color: red;" ></span></h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="recipient-name" class="control-label">用户名:</label>
						<input type="text" class="form-control" id="user-name" readonly>
						<input type="text" class="form-control" id="applength" style="display: none;">
						<table class="table" id="reqData">
							<thead>
								<tr>
									<td style="width: 150px;">功能模块</td>
									<td>菜单列表</td>
								</tr>
							</thead>
							<tbody id="reqBody">
								{% for item in business_lst %}
								<tr req_id="" class="" lang_type="">
									<td style="width: 150px;">{{item.businame}}</td>
									<td>
										{% for app in app_lst %} {% ifequal item.id app.busi_id %}
										<label class="checkbox-inline">
  											<input type="checkbox" id="inlineCheckbox1" name="appcheck" value="{{app.id}}">{{app.appname}}
										</label> {% endifequal %} {% endfor %}
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="cancal_user btn btn-default">取消</button>
				<button type="button" id="add_user_app" class="btn btn-primary">保存</button>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block js %}
<script>
	//del userapp
	$('.delete_user_app').click(function(){
		var user_app_id = $(this).parent().parent().attr('user_app_id');
		$.ajax({
			type: "POST",
			url: "/user_app_del",
			async: true,
			traditional: true,
			data: {
				'user_app_id': user_app_id,
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			},
		});
	})
	//edit edituserapp
	//1
	$('.edituserapp').click(function() {
		$('.edituser,.shade').removeClass('hide')
		var tds = $(this).parent().prevAll();
		var username = $(tds[1]).text();
		var app_list = [];
		$(tds[0]).children().each(function() {
			var aid = $(this).attr('app_id');
			app_list.push(aid);
		})
		applength=app_list.length;
		$('#applength').val(applength);
		$('#user-name').val(username);

		var all_app_lst = []
		$('#edituserapp').find('input[name=appcheck]').each(function() {
			var vid = $(this).attr('value');
			all_app_lst.push(vid)
		});
		obj = $('#edituserapp').find('input[name=appcheck]');
		for(k in app_list) {
			for(i in obj) {
				if(app_list[k] == obj[i].value) {
					obj[i].checked = true;
					$(obj[i]).attr('onclick', 'return false');
				}
			}

		}

	})
	//2
	$('.cancal_user').click(function() {
		$('#edituserapp').find('input[name=appcheck]').each(function() {
			$(this)[0].checked = false;
			if($(this)[0].hasAttribute("onclick")) {
				$(this).removeAttr('onclick');
			}
		})
		$('.edituser,.shade').addClass('hide');
	})
	//3
	$('#add_user_app').click(function() {
		var all_app_lst = [];
		obj = $('#edituserapp').find('input[name=appcheck]');
		for(k in obj) {
			if(obj[k].checked) {
				all_app_lst.push(obj[k].value);
			}
		}
		var user_name = $('#user-name').val();
		if(all_app_lst.length>$('#applength').val()){
			$.ajax({
			type: "POST",
			url: "/sys_user_app",
			async: true,
			traditional: true,
			data: {
				'username': user_name,
				'app_lst': all_app_lst,
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_user_app').text(obj.error);
				}
			},
			error: function() {

			},
		});
		}else{
			$('#error_user_app').text(' error：权限未发生变化');
		}
	})

	//edit app
	$('.edit-app').click(function() {
		$('#editapp,.shade').removeClass('hide');
		var a_id = $(this).parent().parent().attr('appid');
		var b_id = $(this).parent().parent().parent().attr('b_id');
		var a_name = $(this).text();
		var url_name = $(this).parent().parent().attr('urlname');
		$('#editapp').find('input[name=aid]').val(a_id);
		$('#b_id').val(b_id);
		$('#editapp').find('input[name=a_name]').val(a_name);
		$('#editapp').find('input[name=a-url-name]').val(url_name);
	})

	$('#edit_app').click(function() {
		var b_id = $('#b_id').val();
		var app_id = $('#aid').val();
		var app_name = $('#a_name').val();
		var url_name = $('#a-url-name').val();
		if(app_name != "" && url_name != "") {
			$.ajax({
				type: "POST",
				url: "/sys_app_edit",
				async: true,
				traditional: true,
				data: {
					'b_id': b_id,
					'app_id': app_id,
					'a_name': app_name,
					'url_name': url_name,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_info_edit').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_info_edit').text('');
		} else {
			if(app_name != "") {
				$('#app_error_info').text('菜单名称不可为空。');
			} else if(url_name != "") {
				$('#app_error_info').text('url名称不可为空。');
			}
		}
	})
	//del app
	$('.delete_app').click(function() {
		var app_id = $(this).parent().parent().attr('appid')
		$.ajax({
			type: "POST",
			url: "/sys_app_del",
			async: true,
			traditional: true,
			data: {
				'app_id': app_id,
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			},
		});

	})

	//add appname
	$('#add_app').click(function() {
		var busi_sel = $('#busi_sel').val();
		var app_name = $('#app-name').val();
		var url_name = $('#url-name').val();
		if(app_name != "" && url_name != "") {
			$.ajax({
				type: "POST",
				url: "/sys_app_add",
				async: true,
				traditional: true,
				data: {
					'busi_sel': busi_sel,
					'app_name': app_name,
					'url_name': url_name,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#app_error_info').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_info').text('');
		} else {
			if(app_name != "") {
				$('#app_error_info').text('菜单名称不可为空。');
			} else if(url_name != "") {
				$('#app_error_info').text('url名称不可为空。');
			}
		}
	})

	//add busi
	$('#add_business').click(function() {
		var business_name = $('#business-name').val()
		if(business_name != "") {
			$.ajax({
				type: "POST",
				url: "/sys_busi_add",
				async: true,
				traditional: true,
				data: {
					'business_name': business_name,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_info').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_info').text('');
		} else {
			$('#error_info').text('功能名称不可为空。');
		}
	})

	//del busi
	$('.delete_busi').click(function() {
		var busi_id = $(this).parent().parent().attr('bid')
		$.ajax({
			type: "POST",
			url: "/sys_busi_del",
			async: true,
			traditional: true,
			data: {
				'busi_id': busi_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			},
		});

	})

	//edit busi
	$('.edit-busi').click(function() {
		$('#editmenu,.shade').removeClass('hide');
		var busi_id = $(this).parent().parent().attr('bid');
		var busi_name = $(this).text();
		$('#editmenu').find('input[name=bid]').val(busi_id);
		$('#editmenu').find('input[name=busi_name]').val(busi_name);
	})

	$('#edit_business').click(function() {
		var bid = $('#busi_id').val();
		var business_name = $('#busi_name').val();
		if(business_name != "") {
			$.ajax({
				type: "POST",
				url: "/sys_busi_edit",
				async: true,
				traditional: true,
				data: {
					'bid': bid,
					'business_name': business_name,
				},
				dataType: 'JSON',
				success: function(obj) {
					if(obj.status) {
						location.reload();
					} else {
						$('#error_info').text(obj.error);
					}
				},
				error: function() {

				},
			});
			$('#error_info').text('');
		} else {
			$('#error_info').text('功能名称不可为空。');
		}
	})

	//canceledit
	$('.cancaledit').click(function() {
		$('#editmenu,#editapp,.shade').addClass('hide');
	})

	//del
	$('.del_line').click(function() {
		var line_id = $(this).parent().parent().attr('req_id');
		$.ajax({
			type: "POST",
			url: "del_xml_line",
			async: true,
			data: {
				'line_id': line_id
			},
			dataType: 'JSON',
			success: function(obj) {
				if(obj.status) {
					location.reload();
				} else {
					$('#error_xml').text(obj.error);
				}
			},
			error: function() {

			}
		});

	})

	//getData
	$('.get_data').dblclick(function() {
		var linelst = $(this).children();
		hostip = $(linelst[1]).text();
		direction = $(linelst[2]).text();
		reqtext = $(linelst[3]).text();
		result = $(linelst[4]).text();
		isfromzh = $(linelst[5]).text();
		$('#inputHost').val(hostip);
		$('#lan_sel').val(direction);
		$('#lan_sel').val(direction);
		$('#reqtext').val(reqtext);
		if(isfromzh == 'fromzh') {
			$('#inlineRadio2').attr("checked", 'checked');
			$('#inlineRadio1').attr("checked", false);
		} else {
			$('#inlineRadio1').attr("checked", 'checked');
			$('#inlineRadio2').attr("checked", false);
		}
		$('#result').val(result);
	})

	$('#lan_filter').change(function() {
		var sel_lang = $(this).val();
		if(sel_lang == 'all') {
			$('#reqBody').children().each(function() {
				$(this).removeClass('hide');
			})
		} else {
			$('#reqBody').children().each(function() {
				var line_lang = $(this).attr('lang_type');
				if(sel_lang != line_lang) {
					$(this).addClass('hide');
				} else {
					$(this).removeClass('hide');
				}
			})

		}
	})

</script>
{% endblock %}